﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/index/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div class="navbar">
        <div id="center">
            <div id="logo">
                <a href="../Home/Index"><img src="http://www.memlekettengelsin.com/skin/frontend/mg2016/default/img/logo.png" alt=""></a>
            </div>
            <div class="search">
                <input type="text" placeholder="Memleketten ne gelsin?" class="search-bar">
                <button>
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <div class="inventory">
                <a style="color: #fff" href="../Cart/Index">Sepetim</a><i class="fa fa-shopping-cart"></i>
            </div>
            <div class="menu">
                
                @Html.Partial("_LoginPartial")
            </div>
        </div>

    </div>
    <div class="clear"></div>
    <div id="center">

        @RenderBody()
        
    </div>
    <div id="footer">
        <div id="center">
            <div class="questions">
                <ul>
                    <li>
                        <a href="#">
                            <img src="http://shop.memlekettengelsin.com/media/wysiwyg/hikayemiz.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="../Home/Teslimat">
                            <img src="http://shop.memlekettengelsin.com/media/wysiwyg/teslimat.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="http://shop.memlekettengelsin.com/media/wysiwyg/banners/NasilUlasiyor.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="../Home/Rss">
                            <img src="http://shop.memlekettengelsin.com/media/wysiwyg/banners/sss.jpg" alt="">
                        </a>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
        <div class="descriptions">
            <div id="center">
                <ul>
                    <li>
                        <img src="https://www.memlekettengelsin.com/media/wysiwyg/pictogram/kolayGelir.png" alt="">
                    </li>
                    <li>
                        <img src="https://www.memlekettengelsin.com/media/wysiwyg/pictogram/DogalGelir.png" alt="">
                    </li>
                    <li>
                        <img src="https://www.memlekettengelsin.com/media/wysiwyg/pictogram/TazeGelir.png" alt="">
                    </li>
                    <li>
                        <img src="https://www.memlekettengelsin.com/media/wysiwyg/pictogram/SaglamGelir.png" alt="">
                    </li>
                    <li>
                        <img src="https://www.memlekettengelsin.com/media/wysiwyg/pictogram/LezzetliGelir.png" alt="">
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
        <div id="center">
            <div class="subscribe">
                <div class="p">
                    E-BÜLTENE KAYIT OL, FIRSATLARI KAÇIRMA!
                </div>
                <div class="input-bar">
                    <input type="text" placeholder="e-posta adresinizi yazınız"><button>KAYIT OL</button>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="border-top">
            <div id="center">
                <div class="sosyal-medya">
                    <ul class="sosyal">
                        <li>
                            <a href="#" style="margin-right:-10px;padding: 15px 25px;border:1px solid #3B5998;border-radius:500px;"><i style="color:#3B5998" class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" style="border:2px solid #55ACEE"><i style="color:#55ACEE" class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" style="border:2px solid #9B6954"><i style="color: #9B6954" class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#" style="border:2px solid #FC5915;"><i style="color:#FC5915" class="fa fa-rss"></i></a>
                        </li>
                        <li>
                            <a href="#" style="border:2px solid #5B9E1A"><i style="color:#5B9E1A;" class="fa fa-android"></i></a>
                        </li>
                        <li>
                            <a href="#" style="border:2px solid #DC4A38"><i style="color:#DC4A38" class="fa fa-google"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="about">
                    <ul>
                        <li>
                            <a href="">Hikayemiz</a>
                        </li>
                        <li>
                            <a href="">Sıkça Sorulan Sorular</a>
                        </li>
                        <li>
                            <a href="">Kurumsal Satış</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="">İletişim</a>
                        </li>
                        <li>
                            <a href="">Organik Sertifikalarımız</a>
                        </li>
                        <li>
                            <a href="">Helal Sertifikalarımız</a>
                        </li>
                        <li>
                            <a href="">Ürün Özelliklerimiz</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="">Gizlilik ve Güvenlik</a>
                        </li>
                        <li>
                            <a href="">İade ve İptal</a>
                        </li>
                        <li>
                            <a href="">Tedarikçimiz Olun</a>
                        </li>
                        <li>
                            <a href="">Ödeme Seçenekleri</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="visa">
            <div id="center">
                <div class="visa-img">
                    <img src="https://www.memlekettengelsin.com/skin/frontend/mg2016/default/img/payment_options.png" alt="">
                </div>
                <div class="phone-number">
                    <i class="fa fa-phone">
                    </i>
                    444 11 65
                </div>
                <div class="copyright">
                    Copyright © 2018 - Erkan Çalışkan - Tüm hakları saklıdır.
                </div>
            </div>
        </div>


    </div>
</body>
</html>