﻿<ul>

    @if (Request.IsAuthenticated)
    {
        //Kullanıcı adını ve logut çiksin

        <li><a href="/Home/Categories"><i class="fa fa-bars"></i>Kategoriler</a></li>
        <li><a href="#"><i class="fa fa-info-circle"></i> Hakkımızda</a></li>
        <li><a href="#"><i class="fa fa-credit-card"></i>RSS</a></li>
        <li> <a href="../Account">@User.Identity.Name</a> </li>
        <li><a href="../Account/Logout"><i class="fa fa-users"></i>Çıkış Yap</a></li>
    }
    else
    {
        //login ve register çiksin
        <li><a href="/Home/Index"><i class="fa fa-home"></i>Anasayfa</a></li>
        <li><a href="/Home/Categories"><i class="fa fa-bars"></i>Kategoriler</a></li>
        <li><a href="../Home/Rss"><i class="fa fa-credit-card"></i>RSS</a></li>
        <li><a href="../Account/Login"><i class="fa fa-user"></i>Giriş Yap</a></li>
        <li><a href="../Account/Register"><i class="fa fa-users"></i>Üye Ol</a></li>
    }
</ul>