﻿@model IEnumerable<ecommerce.Models.DetailsModel>
<div class="row" style="border-top:none;">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <div class="col-3">
                    <span class="organik">ORGANİK</span>
                    <div class="product-img">
                        <img src="@item.Img" alt="">
                    </div>
                    <div class="product-detail">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <br>
                        <label for="">@item.Name</label> <br>
                        <span>@item.From</span>
                    </div>
                    <div class="product-price">
                        <span>@item.Price</span> <br>
                        <button><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
