﻿@model IEnumerable<ecommerce.Models.UserOrder>
@{
    ViewBag.Title = "Index";
}

<div class="mom">
    <div class="mom2" style="float:left;">
        Sipariş Bilgileriniz
    </div>
    <div class="clear"></div>
</div>

<div class="content" style="overflow:scroll;margin-top:20px;">
    <table class="list-table">
        <tr>
            <th>
                Sipariş Numarası
            </th>
            <th>
                Sipariş Tarihi
            </th>
            <th>
                Total
            </th>
            <th>
                Durum
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.OrderNumber</td>
                <td>@item.OrderDate.ToShortDateString()</td>
                <td>@item.Total</td>
                <td>@item.OrderState</td>
            </tr>
        }

    </table>
</div>
