﻿@model ecommerce.Models.Login
@{
    ViewBag.Title = "Login";
}
<div class="mom">
    <div class="mom2"> Kullanici Girişi </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content">
        <div class="in">
            <h1 class="label-for">Kullanıcı Adınız</h1>
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "in-input" } })
        </div>
        <div class="in">
            <h1 class="label-for">Şifreniz</h1>
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "in-input" } })
        </div>
        <div class="product-price">
            <button type="submit" style="display:block;" value="Giriş Yap"><i class="fa fa-shopping-cart"></i> Giriş Yap</button>
        </div>
    </div>
}