﻿@model ecommerce.Models.Register
@{
    ViewBag.Title = "Register";
}

<div class="mom">
    <div class="mom2"> Üye Ol</div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="content">
    <div class="in">
        <h1 class="label-for">Adınız</h1>
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "in-input" } })
    </div>
    <div class="in">
        <h1 class="label-for">Kullanıcı Adınız</h1>
        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "in-input" } })
    </div>
    <div class="in">
        <h1 class="label-for">Sifre</h1>
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "in-input" } })
    </div>
    <div class="in">
        <h1 class="label-for">Tekrar Şifre</h1>
        @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = "in-input" } })
    </div>
    <div class="in">
        <h1 class="label-for">Eposta</h1>
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "in-input" } })
    </div>
    <div class="product-price">
        <button type="submit" style="display:block;" value="Üye Ol"><i class="fa fa-shopping-cart"></i> Üye Ol</button>
    </div>
</div>
}