* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background: #F8F8F8;
}
.clear{
    clear: both;
}
#center{
    margin: 0 auto;
    width: 1000px;
}
.navbar{
    height: 120px;
    background: #333;
}
#logo{
    float: left;
}
.search{
    margin-left: 200px;
    position: absolute;
}
.search input{
    padding: 0px 15px;
    height: 45px;
    margin-top: 25px;
    border-radius: 5px;
    outline: orange;
    width: 600px;
    border: none;
    font-size: 20px;
    color: #333;
}
.search input::placeholder{
    font-size: 20px;
}
.search button{
    padding: 12.5px 15px;
    outline: orange;
    border: none;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    right: 35px;
    bottom: 2px;
    color: #fff;
    background: orange;
}
.search i{
    font-size: 20px;
}

.inventory{
    float: right;
    color: #fff;
    font-size: 20px;
    line-height: 100px;
    font-weight: bold;
}
.inventory i{
    font-size: 30px;
    color:#fff;
    position: absolute;
    margin-left: 10px;
    line-height: 100px;
}
.inventory i span{
    position: relative;
    padding: 5px 10px;
    background-color: #5B9D1B;
    font-size: 10px;
    color:#fff;
    bottom: 22px;
    right: 10px;
    border-radius: 500px;
}
.menu{
    position: relative;
    top: 80px; 
    margin-left: 200px;
}
.menu ul li{
    float: left; 
    margin-right: 20px;
}
.menu ul li:first-child{
    background: orange;
    padding: 4px 5px;
    border-radius: 3px;
    position: relative;
    bottom: 3px;
}
.menu ul li:nth-child(5n){
    background: #5B9D1B;
    padding: 4px 5px;
    border-radius: 3px;
    position: relative;
    bottom: 3px;
}
.menu ul li a:hover{
    opacity: 1;
    transition: 300ms;
}
.menu ul li a{
    opacity: 0.7;
    color:#fff;
    font-size: 16px;
    font-weight: normal;
}
.menu ul li a i {
    margin-right: 5px;
}

#footer{
    
    width: 100%;    
}
.questions {
    padding: 20px 5px;
    background:#fff;
}
.questions ul li{
    float: left;
    margin-left: 10px;
}
.questions ul li a img{
    width:235px;
}
.questions ul li:last-child{
    margin: 0;
    padding: 0;
}
.descriptions{
    background: #333;
    padding: 25px 0px;
}
.descriptions ul li img{
    width: 100px;
    height: 100px;
}
.descriptions ul li{
    float: left;
    margin-right: 90px;
}
.descriptions ul li:first-child{
    margin-left: 50px;
}
.p{
    width: 300px;
    font-size: 20px;
    font-weight: bold;
    color: orange;
    padding: 20px 10px;
    float: left;
}
.subscribe{
    padding: 5px 5px;   
}
.input-bar input{
    padding: 0px 15px;
    height: 45px;
    margin-top: 25px;
    border-radius: 5px;
    outline: orange;
    width: 550px;
    border: none;
    font-size: 20px;
    color: #333;
    border: 1px solid #ccc;
}
.input-bar button{
    padding: 15px 15px;
    outline: orange;
    border: none;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    right: 35px;
    bottom: 3px;
    color: #fff;
    background: orange;
}
.border-top{
    border-top: 1px solid #ccc;
    background: #fff;
    padding-bottom: 30px;
}
.sosyal-medya{
    text-align: center; 
    margin-top: 60px;  
}
.sosyal li{
    display: inline-block;
    margin-right: 40px;
}
.sosyal li a{
    padding:15px 20px;
    border-radius: 1000px;
    background: transparent;
    font-size: 20px;
    display: inline-block;
}
.sosyal li a i {
    font-size: 20px;
}
.about{
    text-align: center;
    margin-top: 30px;
}
.about ul li{
    display: inline-block;
    margin-top: 10px;
    margin-right:40px;
}
.about ul li a{
    color: #333;
    font-size: 16px;
}
.about ul li a:hover{
    transition: 300ms;
    color:orange;
}
.visa{
    background: #F8F8F8;
    height: 30px;
    padding: 30px 0px;
}
.visa-img{
    float: left;
    background: transparent;
}
.phone-number{
    color: orange;
    font-weight: bold;
    font-size: 20px;
    float: left;
}
.phone-number i{
    font-size: 20px;
    color: orange;
}
.copyright{
    font-size: 15px;
    color: #333;
    line-height: 30px;
    float: right;
}
.mom{
    border-bottom: 1px solid #ccc;
}
.mom2{
    color: #333;
    border-bottom: 5px solid orange;
    display: inline-block;


}
.row{
    margin-top: 20px;
}
.row ul li{
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}

.col-3{
    margin-bottom: 40px;
    background: #fff;
    width: 230px;
    opacity: 1;
    border-radius: 5px;

    height: auto;
    
}
.product-img img {
    height: 150px;
    text-align: center;
    width: 200px;
    margin-left: 15px;
    margin-top:10px;
}
.organik{
    background: #5B9D1B;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    border-radius: 5px;
    top: 8px;
    float: left;

}
.content{
    overflow: auto;
    margin-bottom: 20px;
}
.product-detail{
    text-align: center;
}
.product-detail i{
    color: orange;
    font-size: 14px;
}
.product-detail label{
    font-size: 15px;
    color: #333;
    cursor:pointer;
}
.product-detail span{
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    display: block;
    color: #ccc;
}
.product-price {
    padding-bottom: 10px;
    margin-top: 30px;
    text-align: center;
}
.product-price span{
    color: orange;
    font-size: 20px;
    font-weight: bold;
}
.product-price button{
    background: orange;
    color: #fff;
    border: none;
    font-size: 15px;
    padding: 5px 10px;
    cursor: pointer;
}
.product-price button i{
    font-size: 15px;
    font-weight: normal;
    color: #fff;
}
.col-3:hover{
    box-shadow: 15px 15px 20px #ccc;
    transition: 300ms;
}
.sepet{
    display: block;
    position: absolute;
    top: 400px;
    visibility: hidden;
    opacity: 1;
}
.sepet button{
    padding: 10px 10px;
    background: orange;
    font-size: 15px;
    font-weight: normal;
    color: #fff;
    border: none;
    margin-left: 100px;
}
.sepet button i{
    font-size: 15px;
    color: #fff;

}
.col-3:hover .sepet-button{
    visibility: visible;
    opacity: 1;
}

.product-details{
    background: #fff;
    padding: 20px 20px;
}
.product-title{
    background: transparent;
}
.product-title h1{
    font-size:30px;
    font-weight: normal;
    color: #333;
}
.product-image{
    float: left;
}
.product-image img{
    width: 500px;
    height: 500px;
}
.country{
    float: left;
    font-size: 15px;
    font-weight: normal;
    opacity: 0.4;
    width: 372px;
    color: #333;
}
.product-star{
    float: right;
}
.product-star i{
    font-size: 15px;
    color: orange;
}
.price-0{
    margin-top: 80px;
}
.each{
    margin-top: 40px;
    border-bottom: 1px solid #ccc;
    padding-bottom:10px;
}
.each select{
    width: 460px;
    font-size: 25px;
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
    text-align: center;
}
.each button{
    padding: 10px 10px;
    width: 460px;
    font-size: 20px;
    background: orange;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border:none;
    cursor: pointer;
}
.each button i {
    margin-right: 5px;
    font-size: 20px;
}

.extra-info{
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.cargo{
    padding: 5px 5px;
    font-size: 14px;
    font-weight: normal;
    color: #ccc;
    border: 1px solid #ccc;
    margin-right: 11px;
    display: inline-block;
}
.cargo i{
    font-size: 25px;
    text-align: center;
    color: #ccc;
    margin-left: 35px;
}

.shipment-info{
    display: inline-block;
    padding: 5px 5px;
    font-size: 14px;
    font-weight: normal;
    color: #ccc;
    border: 1px solid #ccc;
}
.shipment-info i{
    font-size: 25px;
    text-align: center;
    color: #ccc;
    margin-left: 65px;
}

.dogal ul li{
    background: #ccc;
    width: 100px;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
}
.info-table{
    margin-top: 60px;
    float: right;
    margin-right: 50px;
}
.info-table h1{
    text-align: center;
    font-size: 15px;
    color: #333;
    font-weight: bold;
}
.info-table table th,tr,td{
    padding: 5px 5px;
    font-size: 15px;
    text-align: center;
    border: 1px solid #ddd;
}
.big-info{
    padding: 5px 5px;
    width: 450px;
    float: right;
    margin-top: 40px;
    margin-right: 5px;
}
.big-info h1{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: orange;
}
.big-info p{
    margin-top: 10px;
    font-size: 15px;
    color: #ccc;
    text-align: center;
}
.big-info img{
    margin-top: 10px;
    width: 460px;
    height: 150px;
}
.teslimat img{
    width: 1000px;
    overflow-x: hidden;
}

.rss-questions ul li{
    margin-top: 30px;
}
.item{
    clear:both;
    border-bottom: 1px solid #ccc;
    width:980px;
}
.item span{
    border-bottom: 3px solid orange;
    color: #ccc;
    font-size: 20px;
    font-weight: normal;
}
.iletisim ul li{
    display: block;
}
.name {
    margin-top:20px;
    margin-bottom:20px;
    color: #333;
    width: 1000px;
    font-size: 15px;
    font-weight: normal;
    margin-right: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.name input{
    padding: 8px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 500px;
    font-size: 15px;
    margin-left: 80px;
}
.name select{
    width: 512px;
    font-size: 15px;
    margin-left: 80px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px 5px;
    text-align: left;
}
.name label{
    display: block;
    width: 100px;
    float: left;
}
.name textarea{
    width: 500px;
    font-size: 15px;
    color: #333;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px 5px;
    margin-left: 100px;
}
.name button{
    border: 1px solid orange;
    padding: 10px 230px;
    cursor: pointer;
    margin-left: 200px;
    font-size: 15px;
    color: #333;
    background: transparent;
    border-radius: 5px;
}
.name button:hover{
    background: orange;
    transition: 300ms;
    color: #fff;
}

.categories {
    text-align: center;
    padding: 10px 5px;
    background: #fff;
}

.img-place:first-child {
    margin-left:50px;
}

.img-place img {
    height: 200px;
    width: 200px;
}

.categories ul li {
    float: left;
    width:200px;
    margin-right: 30px;
}

.img-place a {
    font-size: 15px;
    color: orange;
    font-weight: bold;
    display:inline-block;
    margin-left:40px;
}
.alert {
    padding: 10px 10px;
    background: green;
    margin: 10px 0px;
    width: 960px;
    color: #fff;
    border-radius: 5px;
}

.in{
    margin-bottom:10px;
    display:block;
}

.label-for{
    font-size:15px;
    font-weight:normal;
    color:#333;
    display:block;
    margin-top:10px;
}
.in-input{
    width:500px;
    padding:10px 10px;
    color:#333;
    font-size:15px;
    font-weight:normal;
    border:1px solid orange;
    border-radius:5px;
}

.right-add {
    float: right;
    display: inline-block;
}    
.btn-btn
{
    padding: 2px 10px;
    font-size: 15px;
    font-weight: normal;
    color: #fff;
    background: orange;
    border: none;
    border-radius: 5px;
}
.list-table tr th,td{
   font-size:15px;
   font-weight:normal;
   color:#333;
   width:200px;
   overflow:auto;
}
.submit-btn{
    color:#fff;
    font-size:15px;
    border-radius:5px;
    background:green;
    padding:5px 10px;
    float:left;
    margin-top:5px;
    margin-right:5px;
}
.alert-center{
    width:300px;
    margin:0 auto;
    background:orange;
    height:200px;
    margin-bottom:50px;
    margin-top:50px;
    border-radius:5px;
}

.alert-center h3 {
    font-size: 20px;
    font-weight:bold;
    color: #fff;
    text-align: center;
    display: block;
    padding-top: 50px;
}
.alert-center i{
    margin-right:5px;
}
.btn-3 {
    padding: 5px 10px;
    font-size: 15px;
    font-weight: normal;
    color: #fff;
    background: orangered;
    border: none;
    border-radius: 5px;
}

.in-inputt {
    width: 500px;
    padding: 10px 10px;
    color: #333;
    font-size: 15px;
    font-weight: normal;
    border: 1px solid orange;
    border-radius: 5px;
}

.centered {
    width: 400px;
    margin: 0 auto;
}