﻿
@{
    ViewBag.Title = "Anne Ve Cocuk";
}
<div class="content">
    <div class="mom">
        <h1 class="mom2">Anne Ve Çocuk</h1>
    </div>
    <div class="row">
        <ul>
            <li>
                <div class="col-3">
                    <span class="organik">ORGANİK</span>
                    <div class="product-img">
                        <img src="https://st2.myideasoft.com/shop/ay/18/myassets/products/879/orh0004.jpg?revision=1551942709" alt="">
                    </div>
                    <div class="product-detail">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <br>
                        <label for="">Organik Domates Çorbası(100 Gr)</label> <br>
                        <span>Organik Bahçe</span>
                    </div>
                    <div class="product-price">
                        <span>9.90 TL</span> <br>
                        <button><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="col-3">
                    <span class="organik">ORGANİK</span>
                    <div class="product-img">
                        <img src="https://st2.myideasoft.com/shop/ay/18/myassets/products/879/orh0004.jpg?revision=1551942709" alt="">
                    </div>
                    <div class="product-detail">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <br>
                        <label for="">Organik Domates Çorbası(100 Gr)</label> <br>
                        <span>Organik Bahçe</span>
                    </div>
                    <div class="product-price">
                        <span>9.90 TL</span> <br>
                        <button><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="col-3">
                    <span class="organik">ORGANİK</span>
                    <div class="product-img">
                        <img src="https://st2.myideasoft.com/shop/ay/18/myassets/products/879/orh0004.jpg?revision=1551942709" alt="">
                    </div>
                    <div class="product-detail">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <br>
                        <label for="">Organik Domates Çorbası(100 Gr)</label> <br>
                        <span>Organik Bahçe</span>
                    </div>
                    <div class="product-price">
                        <span>9.90 TL</span> <br>
                        <button><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="col-3">
                    <span class="organik">ORGANİK</span>
                    <div class="product-img">
                        <img src="https://st2.myideasoft.com/shop/ay/18/myassets/products/879/orh0004.jpg?revision=1551942709" alt="">
                    </div>
                    <div class="product-detail">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <br>
                        <label for="">Organik Domates Çorbası(100 Gr)</label> <br>
                        <span>Organik Bahçe</span>
                    </div>
                    <div class="product-price">
                        <span>9.90 TL</span> <br>
                        <button><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="col-3">
                    <span class="organik">ORGANİK</span>
                    <div class="product-img">
                        <img src="https://st2.myideasoft.com/shop/ay/18/myassets/products/879/orh0004.jpg?revision=1551942709" alt="">
                    </div>
                    <div class="product-detail">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <br>
                        <label for="">Organik Domates Çorbası(100 Gr)</label> <br>
                        <span>Organik Bahçe</span>
                    </div>
                    <div class="product-price">
                        <span>9.90 TL</span> <br>
                        <button><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="col-3">
                    <span class="organik">ORGANİK</span>
                    <div class="product-img">
                        <img src="https://st2.myideasoft.com/shop/ay/18/myassets/products/879/orh0004.jpg?revision=1551942709" alt="">
                    </div>
                    <div class="product-detail">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <br>
                        <label for="">Organik Domates Çorbası(100 Gr)</label> <br>
                        <span>Organik Bahçe</span>
                    </div>
                    <div class="product-price">
                        <span>9.90 TL</span> <br>
                        <button><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="col-3">
                    <span class="organik">ORGANİK</span>
                    <div class="product-img">
                        <img src="https://st2.myideasoft.com/shop/ay/18/myassets/products/879/orh0004.jpg?revision=1551942709" alt="">
                    </div>
                    <div class="product-detail">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <br>
                        <label for="">Organik Domates Çorbası(100 Gr)</label> <br>
                        <span>Organik Bahçe</span>
                    </div>
                    <div class="product-price">
                        <span>9.90 TL</span> <br>
                        <button><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="col-3">
                    <span class="organik">ORGANİK</span>
                    <div class="product-img">
                        <img src="https://st2.myideasoft.com/shop/ay/18/myassets/products/879/orh0004.jpg?revision=1551942709" alt="">
                    </div>
                    <div class="product-detail">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <br>
                        <label for="">Organik Domates Çorbası(100 Gr)</label> <br>
                        <span>Organik Bahçe</span>
                    </div>
                    <div class="product-price">
                        <span>9.90 TL</span> <br>
                        <button><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</div>