﻿@model IEnumerable<ecommerce.Entity.Category>
@{
    ViewBag.Title = "Categories";
}

<div class="content">
    <div class="mom">
        <h1 class="mom2">Kategoriler</h1>
    </div>
    <div class="row">
        <div class="categories">
            <ul>
                @foreach (var item in Model)
                {
                        <li>
                            <div class="img-place">
                                <img src="@item.CImg" alt="">
                                <br>
                                <a href="/Home/List/@item.Id">@item.Name</a>
                            </div>
                        </li>
                }
                <div class="clear"></div>
            </ul>
        </div>
    </div>
</div>