﻿@using ecommerce.Entity;
@model Product
@{
    ViewBag.Title = "Details";
}

<div class="content">
    <div class="product-details">
        <div class="product-title">
            <h1>@Model.Name</h1>
        </div>
        <div class="product-image">
            <img src="@Model.Img" alt="">
        </div>
        <div class="from">
            <div class="country">
                @Model.Homeland
                <br>
                @Model.From
            </div>
            <div class="product-star">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
        </div>

        <div class="price-0">
            <div class="price">
                <h1>@Model.Price</h1>
            </div>
            <div class="each">
                <br>
                @using (Html.BeginForm("AddToCart", "Cart"))
                {
                    @Html.HiddenFor(i=>i.Id)
                    <button type="submit"><i class="fa fa-shopping-cart"></i>SEPETE AT</button>
                }

            </div>
        </div>
        <div class="extra-info">
            <div class="cargo">
                <i class="fa fa-truck"></i>
                <br>
                Aynı Gün Kargo
            </div>
            <div class="shipment-info">
                <i class="fa fa-cube"></i>
                <br>
                Bu ürün nasıl paketlenir?
            </div>
        </div>
        <div class="dogal">
            <ul>
                <li>
                    <img src="http://www.memlekettengelsin.com/media/wysiwyg/badgeicon/dogal.png" alt="">
                </li>
                <li>
                    <img src="http://www.memlekettengelsin.com/media/wysiwyg/badgeicon/katkisiz.png" alt="">
                </li>
                <li>
                    <img src="http://www.memlekettengelsin.com/media/wysiwyg/badgeicon/yoresel.png" alt="">
                </li>
            </ul>
        </div>
        <div class="info-table">
            <h1>100 Gram İçin</h1>
            <table>
                <thead>
                    <tr>
                        <th>Enerji(kcal)</th>
                        <th>Protein</th>
                        <th>Yağ</th>
                        <th>Tuz</th>
                        <th>Karbonhidrat</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>734,4</td>
                        <td>0.5 g</td>
                        <td>81 g</td>
                        <td>0.5</td>
                        <td>0.76</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clear"></div>
        <div class="big-info">
            <h1>
                @Model.BName
            </h1>
            <p>@Model.BDescription</p>
            <img src="http://shop.memlekettengelsin.com/media/wysiwyg/banners/shutterstock_144074938_1_.jpg" alt="">
            <p>
                
            </p>
            <img src="http://shop.memlekettengelsin.com/media/wysiwyg/banners/shutterstock_565991029.jpg" alt="">
            <p>
                
            </p>
            <img src="http://shop.memlekettengelsin.com/media/wysiwyg/banners/shutterstock_144878416.jpg" alt="">
            <h1>Ürünlerim Nasıl Gönderiliyor?</h1>
            <p>
                Söz konusu gıda olunca lezzetin bozulmaması ve soğuk zincirin muhafaza edilmesine oldukça önem vermekteyiz. Sizin için ısıya duyarlı özel paketlerin içerisine -40 derecede dondurulan buz aküleri koyarak birlikte paketliyoruz. Uygulanan bu method sayesinde yöresel lezzetler en taze haliyle kargo ile adresinize teslim edilir. Yolculuk boyunca soğukluğunu muhafaza eder ve size buzdolabından çıkmış gibi soğuk bir şekilde ulaşır.Diğer ürünler ise kırılma, sızıntı yapma ihtimallerine karşı ayrı ayrı havalı poşetler ile sarılır. Kolilerin içerisine özenle dizilir. Kolilerin boş kalan kısımları kağıt ile doldurulur ve ürünlerin koli içerisinde hareket etmesi engellenmiş olur. Birçok farklı paketleme metodları kullanılarak hazırlanan siparişleriniz, sizlere kusursuz olarak ulaşır.
            </p>
            <img src="http://shop.memlekettengelsin.com/media/wysiwyg/paketGorsel_1_.jpg" alt="">
            <p>
                İstanbul’da yaşıyorsanız sabah 10:00’ a kadar sipariş verirseniz, tüm siparişlerinizi aynı gün içerisinde kuryeye veriyoruz. Siparişinizi verirken seçtiğiniz saat aralıklarına (13:00-17:00 veya 19:00-22:00) göre sizlere ulaştırıyoruz. İstanbul içi 10:00'dan sonra verdiğiniz siparişleri ise ertesi gün yine aynı kurye ile seçtiğiniz saat aralığında teslim ediyoruz. İstanbul çevresindeki illere ertesi gün teslimat mümkündür. İstanbul’a uzak olan şehirlerimize de en fazla 2 gün içerisinde teslimat yapılmaktadır.
                *Hava şartlarına bağlı olarak teslim süresi değişiklik gösterebilir.
            </p>
        </div>
        <div class="clear"></div>

        
    </div>
</div>