﻿
@{
    ViewBag.Title = "Iletisim";
}

<div class="content">
    <div class="mom">
        <h1 class="mom2">İletişim</h1>
    </div>
    <div class="row">
        <div class="iletisim">
            <form action="">
                <div class="name" style="margin-top:40px;">
                    Adınız?
                    <input type="text" style="margin-left:144px;">
                </div>
                <div class="name">
                    Emailiniz?
                    <input type="text" style="margin-left:128px;">
                </div>
                <div class="name">
                    Sorununuz?
                    <select name="" id="" style="margin-left:120px;">
                        <option value="">TEBRİK</option>
                        <option value="">ÖNERİ</option>
                        <option value="">ŞİKAYET</option>
                        <option value="">YARDIM</option>
                        <option value="">KARGO</option>
                        <option value="">DİĞER</option>
                    </select>
                </div>
                <div class="name">
                    <label for="">Açıklama</label>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="name" style="border-bottom:none;">
                    <button>Gönder</button>
                </div>
                <div class="clear"></div>
            </form>
        </div>
    </div>
</div>