﻿@model IEnumerable<ecommerce.Models.ProductModel>
@{
    ViewBag.Title = "Index";
}

<div class="content">
    <div class="row">
        <div class="item"><span>Yeni Ürün</span></div>
        <div class="clear"></div>
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <div class="col-3">
                        <span class="organik">ORGANİK</span>
                        <div class="product-img">
                            <img src="@item.Img" alt="">
                        </div>
                        <div class="product-detail">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <br>
                            <a href="/Home/Details/@item.Id"><label for="">@item.Name</label></a><br>
                            <span>@item.From</span>
                        </div>
                        <div class="product-price">
                            <span>@item.Price</span> <br>
                            <button><i class="fa fa-shopping-cart"></i> <a style="color: #fff;" href="/Home/Details/@item.Id">Ürünü İncele</a></button>
                        </div>
                    </div>
                </li>
            }

        </ul>
    </div>
</div>

