﻿
@{
    ViewBag.Title = "Rss";
}

<div class="content">
    <div class="rss-questions">
        <ul>
            <li>
                <strong>Biz düşündük ki kafanızda illaki soru işaretleri vardır. Bizimle ilgili merak ettiğiniz tüm soruları bizde sizler için cevapladık, aklınızda hiçbir soru işareti kalsın istemiyoruz!</strong>
            </li>
            <li>
                <strong>Ürünler gerçekten kendi memleketinden mi geliyor?</strong>
                <br>
                <p>- Ürünlerimizin hepsi doğal ve kendi yöresinin ürünüdür. Firmamızın adını da oradan aldığı gibi memleketlerinden geliyor. Tedarikçilerimiz kendi yörelerine ait tarım bakanlıklarından aldıkları üretici izin belgeleri vardır. Ürünün üzerinde işletme kayıt numarası da bulunmaktadır. Oradan da gönül rahatlığı ile ürünlerimizin üretim yerlerini inceleyebilirsiniz.</p>
            </li>
            <li>
                <strong>Organik ürünler gerçekten organik mi? Nasıl anlayabilirim?</strong>
                <br>
                <p>- Üzerinde organik yazan tüm ürünlerimiz organiktir. Hepsi sertifikalıdır. Sertifikalarını sitemizden inceleyip, bize bu konuda güvenebilirsiniz. Sertifikalar için buraya tıklayınız.</p>
            </li>
            <li>
                <strong>Soğuk ürünler bozulmadan nasıl geliyor?</strong>
                <br>
                <p>
                    - Çünkü her şey bizim kontrolümüz altında. Soğuk hava depolarında muhafaza ettiğimiz soğuk ürünlerimizi, izole ambalajlara, buz akülerine koyarak özel ambalajlama sistemimiz ile gönderiyoruz. İçiniz rahat olsun.
                </p>
            </li>
            <li>
                <strong>Ürünler gerçekten kendi memleketinden mi geliyor?</strong>
                <br>
                <p>- Ürünlerimizin hepsi doğal ve kendi yöresinin ürünüdür. Firmamızın adını da oradan aldığı gibi memleketlerinden geliyor. Tedarikçilerimiz kendi yörelerine ait tarım bakanlıklarından aldıkları üretici izin belgeleri vardır. Ürünün üzerinde işletme kayıt numarası da bulunmaktadır. Oradan da gönül rahatlığı ile ürünlerimizin üretim yerlerini inceleyebilirsiniz.</p>
            </li>
            <li>
                <strong>Organik ürünler gerçekten organik mi? Nasıl anlayabilirim?</strong>
                <br>
                <p>- Üzerinde organik yazan tüm ürünlerimiz organiktir. Hepsi sertifikalıdır. Sertifikalarını sitemizden inceleyip, bize bu konuda güvenebilirsiniz. Sertifikalar için buraya tıklayınız.</p>
            </li>
            <li>
                <strong>Soğuk ürünler bozulmadan nasıl geliyor?</strong>
                <br>
                <p>
                    - Çünkü her şey bizim kontrolümüz altında. Soğuk hava depolarında muhafaza ettiğimiz soğuk ürünlerimizi, izole ambalajlara, buz akülerine koyarak özel ambalajlama sistemimiz ile gönderiyoruz. İçiniz rahat olsun.
                </p>
            </li>
            <li>
                <strong>Ürünler gerçekten kendi memleketinden mi geliyor?</strong>
                <br>
                <p>- Ürünlerimizin hepsi doğal ve kendi yöresinin ürünüdür. Firmamızın adını da oradan aldığı gibi memleketlerinden geliyor. Tedarikçilerimiz kendi yörelerine ait tarım bakanlıklarından aldıkları üretici izin belgeleri vardır. Ürünün üzerinde işletme kayıt numarası da bulunmaktadır. Oradan da gönül rahatlığı ile ürünlerimizin üretim yerlerini inceleyebilirsiniz.</p>
            </li>
            <li>
                <strong>Organik ürünler gerçekten organik mi? Nasıl anlayabilirim?</strong>
                <br>
                <p>- Üzerinde organik yazan tüm ürünlerimiz organiktir. Hepsi sertifikalıdır. Sertifikalarını sitemizden inceleyip, bize bu konuda güvenebilirsiniz. Sertifikalar için buraya tıklayınız.</p>
            </li>
            <li>
                <strong>Soğuk ürünler bozulmadan nasıl geliyor?</strong>
                <br>
                <p>
                    - Çünkü her şey bizim kontrolümüz altında. Soğuk hava depolarında muhafaza ettiğimiz soğuk ürünlerimizi, izole ambalajlara, buz akülerine koyarak özel ambalajlama sistemimiz ile gönderiyoruz. İçiniz rahat olsun.
                </p>
            </li>
        </ul>
    </div>
</div>