﻿
@{
    ViewBag.Title = "Teslimat";
}

<div class="content">
    <div class="teslimat">
        <img src="http://www.memlekettengelsin.com/media/wysiwyg/banners/TESLIMATwebYeni.jpg" alt="">
    </div>
</div>