﻿@model ecommerce.Entity.Category

@{
    ViewBag.Title = "Create";
}
<div class="mom">
    <div class="mom2"> Kategori Ekleme</div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content">
        <div class="in">
            <h1 class="label-for">Adı</h1>
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "in-input" } })
        </div>
        <div class="in">
            <h1 class="label-for"> Resim</h1>
            @Html.EditorFor(model => model.CImg, new { htmlAttributes = new { @class = "in-input" } })
        </div>
        <div class="product-price">
            <button type="submit" style="display:block;" value="Ekle"><i class="fa fa-shopping-cart"></i> Ekle</button>
        </div>
    </div>


}

<div>
    @Html.ActionLink("Geri Dön", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
