﻿@model ecommerce.Entity.Category

@{
    ViewBag.Title = "Edit";
}

<div class="mom">
    <div class="mom2">Kategori Güncelleme</div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="content">
    @Html.ValidationSummary(true, "", new { @class = "alert" })
    @Html.HiddenFor(model => model.Id)
    <div class="in">
        <h1 class="label-for">Adı</h1>
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "in-input" } })
    </div>
    <div class="in">
        <h1 class="label-for"> Resim</h1>
        @Html.EditorFor(model => model.CImg, new { htmlAttributes = new { @class = "in-input" } })
    </div>
    <div class="product-price">
        <button type="submit" value="" style="display:block;"><i class="fa fa-shopping-cart"></i> Güncelle</button>
    </div>
</div>
}

<div>
    @Html.ActionLink("Geri Dön", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
