﻿@model IEnumerable<ecommerce.Entity.Category>

@{
    ViewBag.Title = "Index";
}

<div class="mom">
    <div class="mom2" style="float:left;">
        Kategori Listesi
    </div>
    <div class="right-add">
        @Html.ActionLink("Yeni Kategori Ekle", "Create", null, new { @class = "btn-btn" })
    </div>
    <div class="clear"></div>
</div>

<div class="content" style="overflow:scroll;margin-top:20px;">
    <table class="list-table">
        <tr>
            <th>
                Adı
            </th>
            <th>
                Resmi
            </th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CImg)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "submit-btn" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "submit-btn" })
            </td>
        </tr>
        }
    </table>      
</div>