﻿@model ecommerce.Models.ShippingDetails

@{
    ViewBag.Title = "CheckOut";
}

<div class="mom">
    <div class="mom2">Sipariş Bilgileri</div>
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <br/>
    <div class="content">
        <div class="in">
            <h1 class="label-for">Kullanıcı Adınız</h1>
            <span style="background: orange; color: #fff;">@User.Identity.Name</span>
        </div>
        <div class="in">
            <h1 class="label-for">Adres Başlığı</h1>
            @Html.EditorFor(model => model.AdresBasligi, new { htmlAttributes = new { @class = "in-input" } })
        </div>
        <div class="in">
            <h1 class="label-for">Adresiniz</h1>
            @Html.EditorFor(model => model.Adres, new { htmlAttributes = new { @class = "in-input" } })
        </div>
        <div class="in">
            <h1 class="label-for">Şehir</h1>
            @Html.EditorFor(model => model.Sehir, new { htmlAttributes = new { @class = "in-input" } })
        </div>
        <div class="in">
            <h1 class="label-for">Semt</h1>
            @Html.EditorFor(model => model.Semt, new { htmlAttributes = new { @class = "in-input" } })
        </div>
        <div class="in">
            <h1 class="label-for">Mahalle</h1>
            @Html.EditorFor(model => model.Mahalle, new { htmlAttributes = new { @class = "in-input" } })
        </div>
        <div class="in">
            <h1 class="label-for">Posta Kodu</h1>
            @Html.EditorFor(model => model.PostaKodu, new { htmlAttributes = new { @class = "in-input" } })
        </div>
        <div class="product-price">
            <button type="submit" style="display:block;" value="Ekle"><i class="fa fa-shopping-cart"></i> Ekle</button>
        </div>
    </div>
}