﻿@model ecommerce.Models.Cart
@{
    ViewBag.Title = "Index";
}
<div class="content">
    <div class="mom">
        <h1 class="mom2">Alışveriş Sepeti</h1>
    </div>
    <hr />
    
    @if (Model.CartLines.Count>0)
    {
        <table class="list-table">
            <thead>
            <tr>
                <th></th>
                <th>Adet</th>
                <th>Ürün Adı</th>
                <th>Fiyat</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.CartLines)
            {
                <tr>
                    <td style="height: 50px; width: 50px; border: none;">
                        <img src="@item.Product.Img" style="width: 100px; height: 100px;" />
                    </td>
                    <th>@item.Quantity</th>
                    <th>@item.Product.Name</th>
                    <th>@item.Product.Price</th>
                    <th>@((item.Product.Price*item.Quantity).ToString("C"))</th>
                    <th>
                        @using (Html.BeginForm("RemoveToCart", "Cart"))
                        {
                            @Html.Hidden("Id", item.Product.Id)
                            <button class="submit-btn" style="border: none; cursor: pointer;" type="submit">
                                <i class="fa fa-trash-o"></i>
                                Sil
                            </button>
                        }
                    </th>
                </tr>
            }
            </tbody>  
        </table>
        <div class="right-add" style="margin-right: 224px;">
        
            @Model.Total().ToString("c")
    
        </div>
        <div class="clear"></div>
        <div class="back" style="width: 300px;margin: 0 auto">
            <button style="padding: 5px 5px; border: none; border-radius: 5px;background: green;">
                <a href="../Home/Index" style="color: #fff;">
                    <i class="fa fa-angle-double-left"></i> Alışverişe Devam Et
                </a>
            </button>
            <button style="padding: 5px 5px; border: none;border-radius: 5px;background: red;">
                <a href="../Cart/Checkout" style="color: #fff;">
                    <i class="fa fa-check"></i> Alışverişi Tamamla
                </a>
            </button>
        </div>
        
    }

    else
    {
        <div class="alert" style="text-align: center;">
            Sepetinizde Hiç Ürün Yok.
        </div>
    }
</div>
