﻿@model ecommerce.Entity.Product

@{
    ViewBag.Title = "Delete";
}

<div class="mom">
    <div class="mom2">
        <h1>Sil</h1>
    </div>
</div>


<div class="alert-center">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h3><i class="fa fa-warning"></i>Silmek İstediginize Emin Misiniz</h3>
        <input type="submit" class="btn-btn" style="background:orangered;color:#fff;margin-left:80px;padding:5px 20px;margin-right:10px;margin-top:15px;cursor:pointer;" value="Sil" />


        @Html.ActionLink("Geri Dön", "Index",null,new { @class="btn-3"})
    }
</div>
