﻿@model ecommerce.Entity.Product

@{
    ViewBag.Title = "Edit";
}

<div class="mom">
    <div class="mom2">Ürün Güncelleme</div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="content">
        @Html.ValidationSummary(true, "", new { @class = "alert" })
        @Html.HiddenFor(model => model.Id)
        <div class="in">
            <h1 class="label-for">Adı</h1>
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "in-input" } })
        </div>
        <div class="in">
            <h1 class="label-for"> Açıklama</h1>
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "in-input" } })
        </div>
        <div class="in">
            <h1 class="label-for">Ürün Hangi Üreticiden Geliyor?</h1>
            @Html.EditorFor(model => model.From, new { htmlAttributes = new { @class = "in-input" } })
        </div>
        <div class="in">
            <h1 class="label-for">Ürün Hangi İlden Geliyor?</h1>
            @Html.EditorFor(model => model.Homeland, new { htmlAttributes = new { @class = "in-input" } })
        </div>
        <div class="in">
            <h1 class="label-for">Resim Adresi</h1>
            @Html.EditorFor(model => model.Img, new { htmlAttributes = new { @class = "in-input" } })
        </div>
        <div class="in">
            <h1 class="label-for">Stoktami?</h1>
            @Html.EditorFor(model => model.InStock, new { htmlAttributes = new { @class = "" } })
        </div>
        <div class="in">
            <h1 class="label-for">Detay Açıklama</h1>
            @Html.EditorFor(model => model.BDescription, new { htmlAttributes = new { @class = "in-input" } })
        </div>
        <div class="in">
            <h1 class="label-for">Detay Adı</h1>
            @Html.EditorFor(model => model.BName, new { htmlAttributes = new { @class = "in-input" } })
        </div>
        <div class="in">
            <h1 class="label-for">Kategorisi</h1>
            @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "in-input" })
        </div>
        <div class="in">
            <h1 class="label-for">Onaylı mı?</h1>
            @Html.EditorFor(model => model.IsApproved, new { htmlAttributes = new { @class = "" } })
        </div>
        <div class="in">
            <h1 class="label-for">Anasayfada Gözüksün mü?</h1>
            @Html.EditorFor(model => model.IsHome, new { htmlAttributes = new { @class = "" } })
        </div>
        <div class="in">
            <h1 class="label-for">Fiyatı?</h1>
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "in-input" } })
        </div>
        <div class="product-price">
            <button type="submit" value="" style="display:block;"><i class="fa fa-shopping-cart"></i> Güncelle</button>
        </div>
    </div>
                                
}
<div>
    @Html.ActionLink("Geri Dön", "Index")
</div>
