﻿@model IEnumerable<ecommerce.Entity.Product>

@{
    ViewBag.Title = "Index";
}

<div class="mom">
    <div class="mom2" style="float:left;">
        Ürün Listesi
    </div>
    <div class="right-add">
        @Html.ActionLink("Yeni Ürün Ekle", "Create",null,new {@class="btn-btn" })
    </div>
    <div class="clear"></div>
</div>

<div class="content" style="overflow:scroll;margin-top:20px;">
    <table class="list-table">
        <tr>
            <th>
                Kategori Adı
            </th>
            <th>
                Adı
            </th>
            <th>
                Açıklama
            </th>
            <th>
                Fiyatı
            </th>
            <th>
                Resim Adresi
            </th>
            <th>
                Onaylı mı?
            </th>
            <th>
                Üretici
            </th>
            <th>
                Anasayfa
            </th>
            <th>
                Ürün Nereden Geliyor
            </th>
            <th>
                Detay Açıklaması
            </th>
            <th>
                Detay Adı
            </th>
            <th>
                Stokta mı?
            </th>
            <th>
                Durum
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Img)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsApproved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsHome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Homeland)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InStock)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id },new { @class="submit-btn" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id },new { @class="submit-btn" })
                </td>
            </tr>
        }

    </table>
</div>
